.usa-card__heading {
  font-weight: 400;
}

.font-ui-xl {
  font-size: 32px;
}

.usa-identifier {
  background-color: #112e51;
}

.usa-identifier__required-link,
.usa-identifier__required-link.usa-link {
  color: #d9e8f6;
}

.file-preview-col,
.verify-col {
  border: none;
}

.grid-container,
.usa-nav-container,
.usa-banner__content,
.usa-banner__inner {
  max-width: 80rem;
}
