.usa-card__heading {
  font-weight: 400;
}

.font-ui-xl {
  font-size: 32px;
}

.usa-identifier {
  background-color: #112e51;
}

.usa-identifier__required-link,
.usa-identifier__required-link.usa-link {
  color: #d9e8f6;
}

.file-preview-col,
.verify-col {
  border: none;
}

.grid-container,
.usa-nav-container,
.usa-banner__content,
.usa-banner__inner {
  max-width: 80rem;
}

.loading-overlay {
  position: absolute;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}

.loading-content-el {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-content {
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #d9e8f6;
  border-left-color: #005ea2;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
